{%extends"base.html.twig"%}

{% block bread %}


<div class="container">

<h2>Cliquer sur un produit pour le modifier</h2>

{%   for article in articles  %}


<div class ="col-md-3">
<img src={{asset("uploads/image/" ~ article.image.lien) }}>
<p><a href ={{ path('edit_product',{'id':article.id })}}>{{ article.nom }} {{ article.prix }} € </a></p>
</div>

{% endfor %}


</div>
{% endblock %}